@import '../node_modules/locomotive-scroll/dist/locomotive-scroll';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import 'node_modules/locomotive-scroll/dist/locomotive-scroll'; */


body{
  margin: 0px;
  background-color: black;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.menu-logo,.menu-close,.menu-open,.menu-info p,a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
}

.page-content {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 6em 2em;
    position: relative;
}

.outer-bg {
    background: #000;
}

.hero button {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 70%;
    left: 44.5%;
    padding: 10px;
    background-color: rgb(213, 214, 167);
    padding-left: 25px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: none;
}

.hero svg {
    width: 30px;
}

.bg {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: url("/dog.jpg") no-repeat 50% 50%;
    background-size: cover;
    opacity: 45%;
    backdrop-filter: blur(50px);
}

.hero h1 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vw;
    font-weight: 400;
    letter-spacing: -0.04em;
    color: #fff;
    opacity: 1;
}

@media (max-width:900px) {
    .page-content h1 {
        font-size: 10vw;
    }

    h1 sup {
        font-size: 4vw;
    }
}